NEXT_PUBLIC_APP_URL=https://dev.dealercore.com.au
NEXT_PUBLIC_API_URL="${NEXT_PUBLIC_APP_URL}/api/admin"
NEXT_PUBLIC_DEFAULT_PASSWORD=dealercore-24445555

NEXT_PUBLIC_REVERB_KEY=0xewccgmgyrpc6hr1ak8
NEXT_PUBLIC_REVERB_HOST=dev.dealercore.com.au
NEXT_PUBLIC_REVERB_PORT=443
NEXT_PUBLIC_REVERB_SCHEME=https